# Compilação e Executáveis
*.o
*.out
programaTrab

# Arquivo de Dados
*.bin

# IDE e Sistema
.vscode/
.DS_Store
Thumbs.db

# Compactação
*.zip

# Arquivos de Texto e Debug
*.gdb
*.txt
*.in
*.sh

# Testes e Binários, pois podem ficar desatualizados
Testes/
Binários/
arq_entrada/
arq_saida/
